#about_me{
    .hero{
        .image{
            img{
                border-radius: 8px;
                max-width: 100%;
                transition: all 0.3s;

                &:hover{
                    filter: saturate(200%) sepia(1);
                }
            }
        }

        .info{
            header{
                margin-bottom: 42px;
                margin-top: 10px;
            }

            h2{
                color: $gray;
            }

            p{
                max-width: 560px;
                color: $gray;
            }

            .items{
                margin-top: 30px;
                margin-bottom: 48px;

                .item{
                    display: flex;
                    margin-bottom: 16px;

                    .value{
                        color: $gray;
                        margin-left: 4px;
                    }
                }
            }

            .buttons{
                display: inline-flex;
                flex-wrap: wrap;

                a:first-child{
                    margin-right: 24px;
                }
            }
        }
    }

    header.custom{
        position: relative;
        text-align: center;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: $secondary;
            left: 0;
            top: 50%;
            transition: translateY(-50%);
            z-index: -1;
        }

        h2{
            display: inline-block;
            padding: 0 24px;
            background: $dark_bg;
        }
    }

    .rate{
        display: flex;

        span{
            display: flex;
            width: 15px;
            height: 15px;
        }
    }

    .languages-skills{
        margin-top: 126px;

        .languages-key-skills{
            .languages{

            }

            .key-skills{

            }
        }

        .web-skills{

        }
    }
}